   <div id="popupHelp" class="popupHelp">
		<h2 id="mcetoc_1bmqi2k5f2" style="text-align: center;"><strong>Ajuda</strong></h2>
		<ul>
		<li>
		<p>Utilizar o mouse para movimentar-se na tela e selecionar objetos.</p>
		</li>
		<li>
		<p><span style="font-size: 12pt;"><strong><span style="background-color: #1aad1a;">&nbsp; &nbsp;+ &nbsp;&nbsp;</span></strong></span>&nbsp; para inserir objetos e cargas de prova.</p>
		</li>
		<li>
		<p><span style="font-size: 12pt;"><strong><span style="background-color: #1aad1a;">&nbsp; { &nbsp;} </span></strong></span>&nbsp; para calcular as vari&aacute;veis E(campo eletrico), F(for&ccedil;a), V(potencial) e W(trabalho).</p>
		</li>
		<li>
		<p>Duplo clique sobre o objeto para alterar as configura&ccedil;&otilde;es.</p>
		</li>
		</ul>
		<p>Mais informa&ccedil;&otilde;es acesse a p&aacute;gina do projeto <img class="img_world" src= "./assets/images/world.png"  alt="alt image" >.&nbsp;<br />github: <a title="Github " href="https://github.com/lohmanndouglas/schanpsidee">https://github.com/lohmanndouglas/schanpsidee</a>.</p>
          
    <div class="add_btn_popup">
        <!-- <div class="btn_add" state="disable">adicionar</div> -->
        <div class="btn_close">fechar</div>
    </div>

    </div>