   <div id="popupHelp" class="popupHelp">
		<h2 id="mcetoc_1bmqi2k5f2" style="text-align: center;"><strong>Help</strong></h2>
		<ul>
		<li>
		<p>Use mouse to move around on the screen and select the objects.</p>
		</li>
		<li>
		<p><span style="font-size: 12pt;"><strong><span style="background-color: #1aad1a;">&nbsp; &nbsp;+ &nbsp;&nbsp;</span></strong></span>&nbsp; to insert objects and charges.</p>
		</li>
		<li>
		<p><span style="font-size: 12pt;"><strong><span style="background-color: #1aad1a;">&nbsp; { &nbsp;} </span></strong></span>&nbsp; to calculate&nbsp;E(eletric field), F(force), V(potential) e W(work).</p>
		</li>
		<li>
		<p>Double click on the object to change the settings.</p>
		</li>
		</ul>
		<p>More information acess <img class="img_world" src= "./assets/images/world.png"  alt="alt image" >.&nbsp;<br />github: <a title="Github " href="https://github.com/lohmanndouglas/schanpsidee">https://github.com/lohmanndouglas/schanpsidee</a>.</p>
    <div class="add_btn_popup">
        <!-- <div class="btn_add" state="disable">adicionar</div> -->
        <div class="btn_close">close</div>
    </div>

    </div>