#body {
      font-family: sans-serif;
      background: #f4f7f9;
      margin: 0px;
      padding: 0px;
      /*overflow: auto;*/
      width: 100%;
      height: auto;
}



#present {
 text-align: center; 
 color: #5999c3;
 margin: 20vh 2em;
}

main[enable="false"] {
  display: none;
}

header {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 50vh;
  /*display: -webkit-box;
  display: -ms-flexbox;
  display: flex;*/
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f4f7f9;
}

.dank-ass-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dank-ass-loader .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arrow {
  width: 0;
  height: 0;
  margin: 0 -6px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 21.6px solid #7ab0d4;
  -webkit-animation: blink 4s infinite;
          animation: blink 4s infinite;
  -webkit-filter: drop-shadow(0 0 18px #7ab0d4);
          filter: drop-shadow(0 0 18px #7ab0d4);
}
.arrow.down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.arrow.outer-1 {
  -webkit-animation-delay: -0.22222s;
          animation-delay: -0.22222s;
}
.arrow.outer-2 {
  -webkit-animation-delay: -0.44444s;
          animation-delay: -0.44444s;
}
.arrow.outer-3 {
  -webkit-animation-delay: -0.66667s;
          animation-delay: -0.66667s;
}
.arrow.outer-4 {
  -webkit-animation-delay: -0.88889s;
          animation-delay: -0.88889s;
}
.arrow.outer-5 {
  -webkit-animation-delay: -1.11111s;
          animation-delay: -1.11111s;
}
.arrow.outer-6 {
  -webkit-animation-delay: -1.33333s;
          animation-delay: -1.33333s;
}
.arrow.outer-7 {
  -webkit-animation-delay: -1.55556s;
          animation-delay: -1.55556s;
}
.arrow.outer-8 {
  -webkit-animation-delay: -1.77778s;
          animation-delay: -1.77778s;
}
.arrow.outer-9 {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}
.arrow.outer-10 {
  -webkit-animation-delay: -2.22222s;
          animation-delay: -2.22222s;
}
.arrow.outer-11 {
  -webkit-animation-delay: -2.44444s;
          animation-delay: -2.44444s;
}
.arrow.outer-12 {
  -webkit-animation-delay: -2.66667s;
          animation-delay: -2.66667s;
}
.arrow.outer-13 {
  -webkit-animation-delay: -2.88889s;
          animation-delay: -2.88889s;
}
.arrow.outer-14 {
  -webkit-animation-delay: -3.11111s;
          animation-delay: -3.11111s;
}
.arrow.outer-15 {
  -webkit-animation-delay: -3.33333s;
          animation-delay: -3.33333s;
}
.arrow.outer-16 {
  -webkit-animation-delay: -3.55556s;
          animation-delay: -3.55556s;
}
.arrow.outer-17 {
  -webkit-animation-delay: -3.77778s;
          animation-delay: -3.77778s;
}
.arrow.outer-18 {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}
.arrow.inner-1 {
  -webkit-animation-delay: -0.66667s;
          animation-delay: -0.66667s;
}
.arrow.inner-2 {
  -webkit-animation-delay: -1.33333s;
          animation-delay: -1.33333s;
}
.arrow.inner-3 {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}
.arrow.inner-4 {
  -webkit-animation-delay: -2.66667s;
          animation-delay: -2.66667s;
}
.arrow.inner-5 {
  -webkit-animation-delay: -3.33333s;
          animation-delay: -3.33333s;
}
.arrow.inner-6 {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.popupCena{
  display: none;
}